# app
APP_ENV=dev
# docker create network
MY_APP_NET=my-app-net
# Makefile
PROJECT_NAME=ncc-lab-project
ALPINE_IMAGE=alpine
# cloudflared-tunnel
CLOUDFLARED_TUNNEL_NAME=cloudflared-tunnel-alpine-ncc
TUNNEL_TOKEN=
# nginx
NGINX_NAME=nginx-alpine-ncc
# php-fpm
PHP_FPM_NAME=php-fpm-alpine-ncc
# wp-cli
WP_CLI_NAME=wp-cli-alpine-ncc
# wp-app
WP_APP_NAME=wp-app-alpine-ncc
# wp-app/.env.wp-app
# db wp app
WP_PATH=wp-app
DB_HOST=mariadb-alpine-ncc
DB_USER=wp_app_user
DB_PASSWORD=cong12345
DB_NAME=wp_app_database
DB_CHARSET=utf8mb4
DB_COLLATE=utf8mb4_unicode_ci
# site url
WP_URL=http://localhost:8888
WP_TITLE="Localhost:8888 WP APP"
WP_ADMIN=admin
WP_ADMIN_PASSWORD=cong12345
WP_ADMIN_EMAIL=info.hungthuan.com@gmai.com
# wp-app.conf
WP_APP_CONF_LISTEN=8888
WP_APP_CONF_SERVER_NAME=_
WP_APP_CONF_FASTCGI_PASS=php-fpm-alpine-ncc:9000