# app
APP_ENV=
# cloudflared-tunnel
TUNNEL_TOKEN=
# nginx.conf fastcgi_pass proxy_pass
LISTEN=
SERVER_NAME=
FASTCGI_PASS=
PROXY_PASS=
# db wp app
WP_PATH=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_CHARSET=utf8mb4
DB_COLLATE=utf8mb4_unicode_ci
# site url
WP_URL=
WP_TITLE=
WP_ADMIN=
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=
# wp-app.conf
WP_APP_CONF_LISTEN=
WP_APP_CONF_SERVER_NAME=
WP_APP_CONF_FASTCGI_PASS=
# laravel dev ssh authorized_keys
LARAVEL_DEV_AUTHORIZED_KEY=

