# app
APP_ENV=dev
# docker create network
MY_APP_NET=my-app-net
# Makefile
PROJECT_NAME=ncc-lab-project
ALPINE_IMAGE=alpine
# cloudflared-tunnel
CLOUDFLARED_TUNNEL_NAME=cloudflared-tunnel-alpine-ncc
TUNNEL_TOKEN=eyJhIjoiNWE5YzFjOT
# nginx
NGINX_NAME=nginx-alpine-ncc
# php-fpm
PHP_FPM_NAME=php-fpm-alpine-ncc